<section>
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/my-profile">
                    <span class="text-gray"></span>&nbsp;
                <span>My Profile</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- ------------------------------------------------  -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/track-progress">
                    <span class="text-gray"></span>&nbsp;
                <span>Track Progress</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- ------------------------------------------------  -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/my-workout-plan">
                    <span class="text-gray"></span>&nbsp;
                <span>My Workout Plan</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- ------------------------------------------------  -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/add-workout-plan">
                    <span class="text-gray"></span>&nbsp;
                <span>Add Workout Plan </span></a>
        </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- ------------------------------------------------  -->
  
          <!-- Divider -->
          <hr class="sidebar-divider my-0">
  
          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
              <a class="nav-link" routerLink="/dashboard/go-premium">
                      <span class="text-gray"></span>&nbsp;
                  <span>Go Premium</span></a>
          </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- ------------------------------------------------  -->

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link">
                    <span class="text-gray"></span>&nbsp;
                <span>Logout</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- ------------------------------------------------  -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->
</section>