<div class="outer-container">
    <div class="bg"></div>
    <div class="login-page">
        <div class="form" style="opacity: 1.0;">
            <form class="sign-up" [formGroup]="signupForm">
                <div class="form-group">
                    <input type="text" formControlName="fullname" placeholder="Full name:">
                    <div *ngIf="getFullname.invalid && (getFullname.touched || getFullname.dirty)"
                        style="margin-top: -7%;">
                        <small *ngIf="getFullname.errors?.required" class="text-danger">Full Name is required</small>
                        <small *ngIf="getFullname.errors?.pattern" class="text-danger">Name should have only
                            characters</small>
                    </div>
                </div>
            
                <div class="form-group">
                    <input type="text" formControlName="mobile"  placeholder="Mobile number:" maxlength="10">
                    <div *ngIf="getMobile.invalid && getMobile.touched && getMobile.pristine" style="margin-top: -7%;">
                        <small *ngIf="getMobile.errors?.required" class="text-danger">Mobile Number is required</small>
                    </div>
                    <div *ngIf="getMobile.invalid && (getMobile.touched || getMobile.dirty)" style="margin-top: -7%;">
                        <small
                            *ngIf="(getMobile.errors?.invalidNumber || getMobile.errors?.minlength) && (getMobile.value.length>0)"
                            class="text-danger">Mobile Number should be of 10 characters & can only contain
                            numbers</small>
                    </div>
                    <div *ngIf="getMobile.invalid && getMobile.touched && getMobile.dirty" style="margin-top: -7%;">
                        <small *ngIf="getMobile.errors?.required || getMobile.value.length<1" class="text-danger">Mobile
                            Number is required</small>
                    </div>
                </div>
              
                <div class="form-group">
                    <input type="text" formControlName="email"  placeholder="Email:">
                    <div *ngIf="getEmail.invalid && (getEmail.touched || getEmail.dirty)" style="margin-top: -7%;">
                        <small *ngIf="getEmail.errors?.required" class="text-danger">Your email is required</small>
                        <small *ngIf="getEmail.errors?.pattern" class="text-danger">Email is invalid</small>
                    </div>
                </div>
            
                <div class="form-group">
                    <input type="password" formControlName="password"  placeholder="Password:">
                    <div *ngIf="getRegistrationPassword.invalid && (getRegistrationPassword.touched || getRegistrationPassword.dirty)"
                        style="margin-top: -7%;">
                        <small *ngIf="getRegistrationPassword.errors?.required" class="text-danger">Password is
                            required</small>
                        <small *ngIf="getRegistrationPassword.errors?.pattern" class="text-danger">Password Should match
                            the pattern</small>
                    </div>
                </div>
            
                <div class="form-group">
                    <input type="password"  formControlName="confirmpassword"
                        placeholder="Enter password again:">
                    <div *ngIf="getConfirmPassword.invalid && (getConfirmPassword.touched || getConfirmPassword.dirty)"
                        style="margin-top: -7%;">
                        <small *ngIf="getConfirmPassword.errors?.required" class="text-danger">Password is
                            required</small>
                        <small *ngIf="getConfirmPassword.errors?.mustMatch" class="text-danger">Password doesn't
                            match</small>
                    </div>
                </div>
            
                <div class="form-group" style="width: 380px; margin-top: -18px; margin-bottom: 20px;">
                    <label for="staticGender" class="col-form-label"
                        style="margin-right: 90%;"><span>Gender:</span></label>
                    <div class="col-sm-10 row">
                        <div class="custom-control custom-radio">
                            <input id="male" type="radio" class="custom-control-input" value="male"
                                formControlName="gender">
                            <label class="custom-control-label" for="male"
                                style="width: 50px; margin-right: 20px;">Male</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="female" type="radio" class="custom-control-input" value="female"
                                formControlName="gender">
                            <label class="custom-control-label" for="female"
                                style="width: 50px; margin-right: 20px;">Female</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="others" type="radio" class="custom-control-input" value="others"
                                formControlName="gender">
                            <label class="custom-control-label" for="others"
                                style="width: 50px; margin-right: 20px;">Others</label>
                        </div>
                        <div *ngIf="getGender.invalid && getGender.touched">
                            <small *ngIf="getGender.errors?.required" class="text-danger">Please Select either
                                one</small>
                        </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <input type="date" formControlName="dateofbirth" name="dateofbirth"  >
                    <div *ngIf="getDateOfBirth.invalid && (getDateOfBirth.touched || getDateOfBirth.dirty)"
                        style="margin-top: -7%;">
                        <small *ngIf="getDateOfBirth.errors?.required" class="text-danger">Please select date</small>
                    </div>
                </div>
            
                <div class="form-group">
                    <input type="number" formControlName="height" placeholder="Height(cm)"  min="50" max="250">
                    <div *ngIf="getHeight.invalid && (getHeight.touched || getHeight.dirty)" style="margin-top: -7%;">
                        <div *ngIf="getHeight.errors?.required" class="text-danger" style="text-align: center;">
                            <small>Height is required</small>
                        </div><br>
                        <div *ngIf="getHeight.errors?.invalidNumber" class="text-danger" style="margin-top: -12%;">
                            <small>Height can't be negative & must be in numbers</small>
                          </div>
                    </div>
                </div>
            
                <div class="form-group">
                    <input type="number" placeholder="Weight(kg)" formControlName="weight"  min="30" max="200">
                    <div *ngIf="getWeight.invalid && (getWeight.touched || getWeight.dirty)" style="margin-top: -7%;">
                        <div *ngIf="getWeight.errors?.required" class="text-danger" style="text-align: center;">
                            <small>Weight is required</small>
                        </div><br>
                        <div *ngIf="getWeight.errors?.invalidNumber" class="text-danger" style="margin-top: -12%;">
                            <small>Weight can't be negative & must be in numbers</small></div>
                    </div>
                </div> 
                <div class="form-group">
                <button type="submit"  class="bttn btn-1" [disabled] ="signupForm.invalid">Register</button>
              </div>
                <p class="message">Already registered? <a>Sign In</a></p>
            </form>
            <form class="sign-in" [formGroup]="loginForm">
  
                <div class="form-group">
                    <input type="text" formControlName="email"  placeholder="Email:">
                    <div *ngIf="getLoginEmail.invalid && (getLoginEmail.touched || getLoginEmail.dirty)"
                        style="margin-top: -7%">
                        <small *ngIf="getLoginEmail.errors?.required" class="text-danger">Email is required</small>
                        <small *ngIf="getLoginEmail.errors?.pattern" class="text-danger">Email is invalid</small>
                    </div>
                </div>
  
                <div class="form-group">
                    <input type="text" placeholder="Password:" formControlName="password" >
                    <div *ngIf="getPassword.invalid && (getPassword.touched || getPassword.dirty)"
                        style="margin-top: -7%">
                        <small *ngIf="getPassword.errors?.required" style="margin-top: -20px"
                            class="text-danger">Password is required</small>
                    </div>
                </div>
  
                <button type="submit" class="bttn btn-1" [disabled]="loginForm.invalid">Login</button>
  
                <p class="message">Not registered? <a>Create an account</a></p>
            </form>
        </div>
    </div>
  </div>